{{ define "main" }}
  {{ .Scratch.Set "scope" "list" }}

  <header>
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
    </div>
  </header>

  <section class="mt-0 prose flex max-w-full flex-col dark:prose-invert mb-10">
    <div class="min-w-0 min-h-0 max-w-prose w-full">
      {{ .Content }}
    </div>
  </section>

  {{ $mainSections := site.Params.mainSections }}
  {{ $allPages := where site.RegularPages "Section" "in" $mainSections }}

  {{ if gt (len $allPages) 0 }}
    {{ $paginator := .Paginate ($allPages.GroupByDate "2006") }}
    <section class="space-y-10 w-full">
      {{ range $paginator.PageGroups }}
        <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
          {{ .Key }}
        </h2>
        <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
          {{ range .Pages }}
            {{ partial "article-link/card.html" . }}
          {{ end }}
        </section>
      {{ end }}
    </section>
  {{ else }}
    <section class="mt-10 prose dark:prose-invert">
      <p class="py-8 border-t">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}

  {{ partial "pagination.html" . }}
{{ end }}
